@import url(null.css);

.slider__images {
  position: relative;
  width: 679px;
  height: 483px;
}

.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.slider__images .image.active {
  opacity: 1;
}

.slider {
  width: 100%;
  background-color: #131313;
  height: 783px;

  & .container {
    max-width: 1191px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px
  }
}

.column__left {
  padding-right: 50px;
  padding-top: 176px;
  min-width: 442px;
}

.slider__title {
  max-width: 253px;
  position: relative;
  margin-bottom: 34px;

  & h2 {
    display: inline-block;
    max-width: 153px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
  }

  & img {
    position: absolute;
    bottom: 18px;
  }
}

.text {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 42px;

}

.slider__discriptions {
  width: 600px;
  height: 100px;
}

.section__2__item {
  min-width: 174px;
}

.section__2__carts {
  opacity: 0;
  display: none;
  flex-wrap: wrap;
  row-gap: 34px;
  column-gap: 29px;
  margin-bottom: 80px;
}

.section__2__carts.active {
  opacity: 1;
  display: flex;
  width: 500px;
}

.discriptions__carts {
  max-width: 161px;

  & h3 {
    display: block;
    margin-bottom: 9px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #E3B873;
  }

  & p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.slider__controls {
  width: 205px;
  display: flex;

}

.slider__arrow {}

.slider__arrow {

  height: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  // opacity: 0; 
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider__arrow:hover {
  opacity: 1;
  transform: scale(1.5);
}

.slider__arrow.left {
  left: 0;

}

.slider__arrow.right {
  & img {
    transform: rotate(180deg);
  }

  right: 0;
}

.slider__dots {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__dots-item:hover,
.slider__dots-item.active {
  background: white;
}

.column__right {
  padding-top: 107px;
}

.slider__city {
  display: flex;
  padding-bottom: 45px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);

  & p {
    display: inline-block;
    position: relative;
    margin-right: 55px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      opacity: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #E3B873;
    }

    &:hover {
      color: #E3B873;

      &::after {
        opacity: 1;
      }
    }
  }
}

.slider__images {}


.slider__city .active {
  color: #E3B873;

  &::after {
    opacity: 1;
  }
}